[2016-01-30 04:31] wsdjeg opened #1 "When build this app,show me the errors!"
![2016-01-30 12 28 53](https://cloud.githubusercontent.com/assets/13142418/12693705/316a7f0c-c74d-11e5-8828-b911bee77301.png)
but I have installed build-tools 23.0.2

[2016-01-30 08:17] flschweiger commented on #1
It looks like that you are using a 64-bit version of Ubuntu and some 32-bit packages are missing on your system.

Just install the missing packages on your system and you should be good to go :wink:

[2016-01-30 08:19] wsdjeg commented on #1
Oh my God，that means my os is 64-bit,but I am using 32-bit android-sdk,I will confirm it!

[2016-01-31 08:58] #1 closed, assigned to nobody

[2016-02-03 20:34] amineMpdam opened #2 "Project unavailable"
for some reason the gradle dependency works fine but when running the sample code the app crashes over a class not found exception

[2016-02-07 20:00] flschweiger commented on #2
Could you post your logcat output?

[2016-02-07 20:06] amineMpdam commented on #2
I'do that as soon as i get home bro
Great work by the way!!
On Feb 7, 2016 9:00 PM, "Frederik Schweiger" notifications@github.com
wrote:

[2016-02-08 09:36] mikeres0 opened #3 "Nativescript implementation"
This isn't so much of an issue, but a enhancement suggestion.

Do you know if SwipeStack has ever been used in a Nativescript application? I think it would benefit a lot of users if a 'port' was created that was compatible with Nativescript.

[2016-02-11 06:54] amineMpdam commented on #2
Sorry it took me a while to respond but i have been trying to reproduce the error nothing so far!!
Weird no ?
I'm closing the issue for the time being and hopefully the exception won't come up again.

[2016-02-11 06:54] #2 closed, assigned to nobody

[2016-02-11 14:24] flschweiger commented on #3
Thanks for the suggestion! Unfortunately I do not have any plans for creating a Nativescript compatible version in the near future.

[2016-02-11 14:24] #3 closed, assigned to nobody

[2016-02-21 10:56] lzhAndroid opened #4 "wish to add setOnItemClickListener function"
if item view setOnClick,it doesn't work

[2016-02-21 20:21] flschweiger commented on #4
Currently it does not work because SwipeStack is intercepting the touch events.
I will add this feature in a future release :wink:

[2016-02-23 06:03] lzhAndroid opened #5 "notifyDataSetChange doesn't refresh UI"
notifyDataSetChange doesn't refresh UI

[2016-02-26 17:02] flschweiger commented on #5
Have you looked into the sample application? E.g. `notifyDataSetChanged()` is used when an object is added to the stack by pressing the FAB. It should work as expected.

[2016-02-26 17:02] #5 closed, assigned to nobody

[2016-02-27 05:42] lzhAndroid commented on #5
If the data is not drawn, notify is effective, but if have onLayout, update the top view data, is invalid

[2016-02-27 05:44] lzhAndroid commented on #5
my English is not good, reply late,i'm sorry

[2016-03-03 07:56] korrio opened #6 "cannot use with Picasso ?"
my card.xml

[code]

my adapter

[code]

it only display the text (from the internet but no luck with ImageView to display image (from URL) via Picasso)

[2016-03-09 07:34] masudias opened #7 "SwipeStack doesn't respond with the update in the list associated with the adapter of it."
I want the list of items to be changed dynamically. So when the list of items are changed, the swipe stack doesn't take effect instantly. When the number of items in the list is changed, notifyDataSetChanged is called on the adapter associated with it. But it doesn't take effect in the swipe stack. It doesn't update the stack as per the change in adapter.

[2016-03-11 07:41] nambv commented on #4
I need it, true... waiting for your release :smile:

[2016-03-13 00:55] casidiablo commented on #4
Are you already working on this or is it something you want to add down the road? I guess I can hack this myself, but if you are already on the works, then I rather wait.

[2016-03-16 03:56] jsankar commented on #4
Hi, thank you for a superb library. I got a crash report today from Android 4.4.2.   Fatal Exception: java.lang.IllegalArgumentException: pointerIndex out of range

Fatal Exception: java.lang.IllegalArgumentException: pointerIndex out of range
       at android.view.MotionEvent.nativeGetAxisValue(MotionEvent.java)
       at android.view.MotionEvent.getX(MotionEvent.java:1979)
       at link.fls.Sw

[2016-03-16 03:57] jsankar opened #8 "java.lang.IllegalArgumentException: pointerIndex out of range"
Hi, thank you for a superb library. I got a crash report today from Android 4.4.2. Fatal Exception: java.lang.IllegalArgumentException: pointerIndex out of range

Fatal Exception: java.lang.IllegalArgumentException: pointerIndex out of range
at android.view.MotionEvent.nativeGetAxisValue(MotionEvent.java)
at android.view.MotionEvent.getX(MotionEvent.java:1979)
at link.fls.SwipeHelper.onTouch(Swipe

[2016-03-16 12:46] masudias opened #9 "Disable swipe stack swipe on other direction than a specific direction."
I want to use swipestack like the one used in latest Linkedin application. I want to disable swipe on up and down. Need to add an attribute so that I up and down swipe won't effect the swipe stack.

[2016-03-21 14:14] tristangrichard commented on #7
Same problem here.

[2016-03-22 05:29] dipen-solulab opened #10 "Set views of cards like 3rd image"
How can I set the views of cards like 3rd image?

[2016-03-24 07:51] flschweiger commented on #7
Thanks, @comeondude @trramsiq ! I will look into this :wink:

[2016-03-24 07:54] flschweiger commented on #10
Hi @dipen-solulab , currently you only have direct access to the top view. I'll add a method for that in a future release :wink:

[2016-03-29 06:38] tristangrichard opened #11 "Adapter is not reusing views"
Every time a card has to be displayed convertView is null and has to be inflated. getViewTypeCount and getItemViewType are never called

[2016-03-31 21:16] andreas- commented on #11
+1

[2016-04-05 04:58] n1schal commented on #4
hey, was looking at this library and it's really very neat ! good work. eagerly looking forward to when the onItemClickListener is included. any news on when it'll be available? thanks!

[2016-04-05 09:38] flschweiger commented on #11
Currently the views do not get recycled because I don't think it would be a great performance / memory improvement.

[2016-04-05 09:40] tristangrichard commented on #11
It is a huge issue! It results often in OOM Exceptions.

[2016-04-05 09:40] flschweiger commented on #4
Hey there, currently I'm on skiing holidays and I will look into it when I'm back home. Promised! :wink:

[2016-04-05 09:46] n1schal commented on #4
thanks for the prompt response! for the time being i hacked my way into it ! enjoy your holidays ! :smile_cat:

[2016-04-05 09:51] Gi-lo commented on #11
@trramsiq Why should **not** using view recycling lead to OOM exceptions? At the beginning it will even lead to more memory usage...

[2016-04-05 20:11] luserdroid commented on #8
@jsankar
I fixed that bug in my fork.

See:
https://github.com/luserdroid/SwipeStack/commit/9a9d820e2c7ac89e739c462e3378101f2786278f

[2016-04-07 10:52] n1schal commented on #7
i don't know if what i'm doing is similar to this, but if i remove an item from my list onViewSwipedToRight or onViewSwipedToLeft, i get an IndexArrayOutofBounds exception

[2016-04-12 13:45] gilgil28 opened #12 "How do I reset the stack immediately?"
I want to load more cards as the stack gets emptied.
I want to populate the list with new items and reset the stack.
Calling resetStack causes an animation of returning card which in the end the stack is empty

[2016-04-15 08:15] f0rke opened #13 "Loop Stack and put view on top"
How can you return the last swiped card back on top of the stack? And how do you activate endless looping the views. Will those features be available in a future release?

[2016-04-20 20:39] EpsilonOrionis opened #14 "Why not implement methods like addFromRight, addFromLeft?"
Let me know what do you think about it :)

[2016-04-21 19:27] ShBogdan opened #15 "Can't change the card after it is created"
I can't change the card after it is created. Can't add items programmatically. Nothing happens. Can you give me advice?

Here is a small example:

[code]

[2016-05-04 08:55] #11 closed, assigned to nobody

[2016-05-07 11:31] crearo commented on #11
As @Gi-lo mentioned, it will not result in OOM, though not recycling does lead to bad performance.
The point to note here is, recycling views will lead to better performance in views like listview/gridview where you can scroll your views.

Swipestack however, is a one way flowing list. You cant go back to the previous view once it has been swiped off. Thats why recyling views wont matter. This is

[2016-05-10 06:02] raheelshah31 opened #16 "Not working when i add the same within a view pager"
Are there any guidelines when using within a viewpager ?

[2016-05-17 07:36] ram-readwhere commented on #13
How can I implement endless looping of stacks ? Currently, I am getting empty view after last view swiped.

Also, I need to put last swiped view back on top on right swipe and next card on left swiped. Will these feature be available in near future ?

Hi @f0rke , Have you able to implement these features ?

[2016-05-17 14:11] phongbm opened #17 "Width of the swipe stack is not decreasing?"
How to make the width of the swipe stack descending same the demo.
Thank you!

[2016-05-19 08:12] crearo commented on #16
There may be a problem because of both viewpager and swipestack require onTouchListeners, though both are applied to different views (Im assuming viewpager is on the view holding the swipestack) and hence dont see why there should be a problem.

What is the challenge you are facing?

[2016-05-23 09:52] kyze8439690 commented on #16
This view should be used in a viewpager, because you can not define which view touch event will be passed to.

[2016-05-30 06:33] hlmichael opened #18 "can't change the size of surfaceview"
I put a surfaceview to play video in each item,but I simply can't change the size of it in mediaplayer's OnVideoSizeChangedListener

[2016-06-12 09:59] kibotu opened #20 "swipeToPosition"
is it possible to swipe to a specific position? for instance to go back one card

[2016-06-23 13:31] pranaypatel512 opened #21 "What about top swipe and bottom swipe dismiss?"
Thanks for an awesome library.
Can we implement functionality for top and bottom swipe dismiss?
How can we achieve that?

[2016-07-03 19:37] manavpatadia opened #23 "onClick() of button doesn't work with current card"
[code]

On clicking button of 1st card, properties of 3rd card gets changed.

[2016-07-06 07:10] PieCampi commented on #7
In my case, it is sufficient to **change the adapter base class** from BaseAdapter to ArrayAdapter or another providing a concrete implementation of notifyDataSetChanged(). If you don't want to change the Adapter base class, just override the notifyDataSetChanged() to add the new data to the adapter data.
This solved the problem for me, hope it helps.

Maybe @flschweiger could change the sample ap

[2016-07-06 16:46] pablogarufa commented on #21
Amazing library.
@pranaypatel512 Could you manage to implement top and bottom functionality beside left and right?

[2016-07-11 15:43] abbasalim opened #24 "mData.remove(position) for adapter"
hello
thanks for your best library ;
i want remove card from view, how i can do this?

`mData.remove(position);

mAdapter.notifyDataSetChanged();`
this not work

[2016-07-14 20:48] denwehrle commented on #4
do you still work on that feature? would be awesome to have!

[2016-08-07 06:10] crearo opened #25 "Add to top of stack"
All cards get added to the bottom of the stack, which is great. However, I'd like to add both from the top and the bottom of the stack. Is there a way to add to top of stack? I've been trying to modify the source code but can't understand how I could change that.
It'd be great if anyone could give me an idea of how I could modify the source code to add to top of stack.
Thanks!

[2016-08-10 21:06] toidv commented on #25
You could use my pull request, I hope that It could help
[`Added the order mode (BOTTOM by default, and TOP by specify app:stack_order_top="true")`](https://github.com/flschweiger/SwipeStack/pull/22)

[2016-08-12 18:18] crearo commented on #25
I had a look at your PR. No, by top of stack I do not mean y ordering of the card on the xy plane. I mean the z ordering. _Literally_ adding to the top of the stack/bottom of the stack. Any clue on how this could be done?

[2016-08-15 06:55] spkprav opened #26 "On click of button, sometimes multiple items are swiped."
I am having around 50 items in my stack. Sometimes when I click on swipe right button, 1 extra item gets swiped automatically. Any idea on this?

[2016-08-16 13:04] dehimb commented on #7
Hi, is this issue will be fixed?

[2016-08-17 01:36] langyazhouwl commented on #25
I had the same question.when  the card slided over the  top  and it disappeard  on top , just like disappearing on  the  left  and right. How this could be done? thank you.

[2016-08-22 03:26] yanglichuan opened #27 "uses-sdk:minSdkVersion 15?"
[code]

[2016-08-25 12:00] Aasaqt commented on #4
Is this feature added?

[2016-08-30 07:03] Wafel commented on #6
+1 Same problem here.

[2016-08-30 13:21] crearo commented on #6
Strange. I'm Picasso and it works. Is the swipe stack taking the entire screen space?
Along with setting wrap_content in height and width of imageview, try and set and minimum height and width in the imageview. If it displays the image (or part of it), that might mean the swipe stack hasn't inflated to the size required by the imageview.

[2016-10-02 09:01] SumantaBee commented on #13
You can use `resetStack()` method to reset the stack once end is reached.
`swipeStack.setListener(new SwipeStack.SwipeStackListener() {
            @Override
            public void onViewSwipedToLeft(int position) {

[code]

[2016-10-05 15:36] mandarl commented on #27
If you want to use this library then you need to change the minSdkVersion in your build.gradle to 16.

[2016-10-13 13:37] kaciula opened #28 "How to vertically center SwipeStack?"
I can't seem to vertically center the SwipeStack inside any ViewGroup. I've tried inside a FrameLayout, RelativeLayout and LinearLayout.

Is it possible? If not, any hints on how I can modify the SwipeStack implementation to achieve this?

[2016-10-13 16:38] aftabsikander commented on #28
@kaciula  I believe you can do it if you modify method implementation **reorderItems** in **SwipeStack** class, this method is used to adjust padding and spacing for the swipe deck stacks.

[2016-10-20 07:37] kaciula commented on #28
I noticed that the SwipeStack always reports the full height of the parent ViewGroup so I tried to compute the actual size and set it in onMeasure. Still, I can't manage to get the height right as the cards are being cut off at the bottom. Each card shows an image fetched from the Internet plus some texts and buttons.

   `@Override
    protected void onMeasure(int widthMeasureSpec, int heightMeas

[2016-10-25 11:45] saintjab commented on #10
@dipen-solulab, if you are talking about how the cards are laid out, check the app:stack_rotation="x". Setting x = 0 will give you that arrangement. Cheers

[2016-10-25 11:52] saintjab opened #29 "adapter class not getting called"
I don't know what is happening but mSwipeStack.setAdapter(mAdapter) is not calling any of my methods in the adapter class even though the mData.size() > 0 in my case and when I replace mSwipeStack with a listview, everything works fine. Anyone experiencing this issue?

[2016-11-02 10:33] langyazhouwl commented on #4
Is this feature added?It's really a nice library/.....

[2016-11-10 14:10] lpraneeth commented on #17
Did you got any solution to this?

[2016-11-10 14:14] lpraneeth commented on #10
@saintjab yes it worked but it doesn't look like the 3rd Image but the below cards are same width as the top card! I want the bellow cards width little less compared to the TOP layer! as the 3rd image in display

[2016-11-10 14:19] lpraneeth commented on #10
![screenshot_2016-11-10-19-47-03 1](https://cloud.githubusercontent.com/assets/22291365/20180052/be2c2a1e-a77e-11e6-8a95-180c1ca9b7b0.png)

[2016-11-10 14:22] lpraneeth commented on #10
![screen2](https://cloud.githubusercontent.com/assets/22291365/20180128/2284f626-a77f-11e6-9692-9c1354d14251.png)

I want some thing like this

[2016-11-10 14:25] lpraneeth opened #30 "Alignment of deck of cards as Displayed bellow"
**I want my cards to align like this**
![screen2](https://cloud.githubusercontent.com/assets/22291365/20180186/698c6388-a77f-11e6-9489-bf7e35a6f0f3.png)

**But my cards are looking like this**
![screenshot_2016-11-10-19-47-03 1](https://cloud.githubusercontent.com/assets/22291365/20180220/940e29a2-a77f-11e6-8324-4da9b1247e8a.png)

How I can arrange my cards as shown in first pic

[2016-11-10 19:14] aftabsikander commented on #30
Can you please share your Layout code, I believe this is due to you need to specify `stack_spacing attribute` against `SwipeStack view`. Default value if you don't give it inside your layout xml file is [`12dp`](https://github.com/flschweiger/SwipeStack/blob/master/library/src/main/res/values/dimens.xml)

For Example use this layout to reduce spacing between stack

[code]

[2016-11-11 06:56] lpraneeth commented on #30
@aftabsikander I give stack_spacing bro!! still not changed
<link.fls.swipestack.SwipeStack
        android:id="@+id/swipeStack"
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        android:layout_above="@+id/buttonSwipeLeft"
        android:padding="@dimen/padding_swipestack"
        app:stack_rotation="0"
        app:stack_spacing="6dp"
        app:sta

[2016-11-11 08:40] aftabsikander commented on #30
Can you please share you sample project which is having this issue, So that I can reproduce this and help you

[2016-11-11 08:50] lpraneeth commented on #30
@aftabsikander where do I have to share!!

[2016-11-11 20:09] aftabsikander commented on #30
@lpraneeth  Just share it here like a zip folder or you can upload the sample project to github and share the link. Whatever you like

[2016-11-14 09:15] lpraneeth commented on #30
https://drive.google.com/file/d/0B0W17asLt9rkTlY2c0xCVFM5ZDg/view?usp=sharing

[2016-11-14 09:16] lpraneeth commented on #30
@aftabsikander check the above link I uploaded the zip file

[2016-11-16 06:19] lpraneeth commented on #30
@aftabsikander @flschweiger  are you there?

[2016-11-16 11:45] kmrabhay opened #31 "Click on top of the stack (top card)"

[2016-11-16 11:46] Abhaykrpt94y11 commented on #31
I could not find any

[2016-11-16 13:17] aftabsikander commented on #30
@lpraneeth Sorry I was away from my development machine, I will look at it soon and post here

[2016-11-23 09:19] #31 closed, assigned to nobody

[2016-12-05 07:24] matthew2402 commented on #4
Something new about this?

[2016-12-06 07:00] i-m-aman opened #32 "how to disable top and down swipe?"
i dont want my card to move top and bottom but only limited to left and right.

[2016-12-06 12:44] i-m-aman commented on #10
have you find any solution to your problem??

[2016-12-06 13:44] i-m-aman commented on #32
well i find the solution for my problem and for those who wanted the view to only scroll horizontally change. in SwipeHelper -> case MotionEvent.ACTION_MOVE:

[code]

[2016-12-06 13:44] #32 closed, assigned to nobody

[2016-12-28 02:40] geftimov commented on #20
I've done something like this:
[code]

[2017-01-18 13:25] Sundin commented on #25
+1

[2017-01-20 09:19] DivyeshRudani opened #34 "does not set "SAVE" and "NEXT" field on textview when swipe the cardstack."
i want set "SAVE" and "NEXT" field on textview when swipe the cardstack. but text set on 3rd position of cardstack, what is an issue?

cardStack.setSwipeProgressListener(new SwipeStack.SwipeProgressListener() {
            @Override
            public void onSwipeStart(int position) {

            }

            @Override
            public void onSwipeProgress(int position, float progress) {

[2017-01-21 09:28] abhishekBansal commented on #14
plus Undo last swipe

[2017-01-21 09:29] abhishekBansal commented on #8
Any idea when this might be happening ?

[2017-01-21 12:38] ghost opened #35 "Disable / Enable Swipe"
Is it possible to disable all events until a certain another event?

[2017-01-27 08:29] matthew2402 opened #36 "ViewPager in Card"
It is not possible to use a ViewPager inside a card due to the swipe gestures. But also the click on a TabLayout item does not change the ViewPager's page. Any reasons or fixes on this?

[2017-01-30 07:30] DivyeshRudani opened #37 "how to notify single tap"
can't swipe when I set onClick listener to a child view in adapter

[2017-02-02 06:21] DivyeshRudani commented on #16
Hey #CreaRo  , pager does not swipe when implement onClickListener method in adapter.

[2017-02-04 12:17] PranavMS007 commented on #27
@mandarl thanks ,, It is really helps me a lot.

[2017-02-07 00:07] saintjab commented on #4
Hi guys, any update on this or anyone been able to implement the click event?

[2017-02-10 14:18] SanjayAndroidDev opened #38 "How to refresh ui on card swaping"
mSwipeStack.setSwipeProgressListener(new SwipeStack.SwipeProgressListener() {
            @Override
            public void onSwipeStart(int position) {

            }

            @Override
            public void onSwipeProgress(int position, float progress) {

                System.out.println("progress...."+progress);

                View mView = mSwipeStack.getTopView();

                if

[2017-02-16 15:02] mudar commented on #30
late comment here: you can try using it with `scale_factor`
[code]

[2017-02-23 17:39] TheLester commented on #7
Same problem. I could call resetStack but this will re-attach all views , which is expensive operation

[2017-03-08 07:12] Mahdiazadbar opened #39 "problem in get count"
hi.  great library.
i have a problem for getCount of item after swipe and remove item of view!!
after remove view count of getCount do not decrease?
and when i remove from my list two item of adapter remove. for example if i have 6 item after remove 3 item of my list in swipeRight or left onEmpty method call!!!
 how can i fix this bug?

[2017-03-09 07:28] MartinL6 opened #40 "How to get a card back?"
can we do the opposite swipe to get the card back?

[2017-03-09 07:34] MartinL6 commented on #20
@geftimov can you explain this? I want to get a card back when it is swiped. Swiping to left or right removes the card, can we get it back by swiping from edge to left and right?

[2017-03-09 09:19] geftimov commented on #20
@MartinL6 You can reverse the order once you start the swiping but this is not the idea of this library. I should probably create a library that implement the full `swipe stack` view. Because this one is not supported anymore.

[2017-03-23 13:08] matthew2402 commented on #36
@flschweiger any update here?

[2017-03-27 07:38] ghost commented on #40
I agree that there needs to be another function which involves getting the last card back to top or atleast into the view again. I almost found a way to get the last card back, but all it does right now for me is to go back one step and add the view but not viewing it so there is just a clickable view nothing to swipe.
If you want the code for the custom function I built, here it is:
`private void

[2017-03-28 19:05] ghost opened #41 "How to set permanent width of card in cardstack"
I tried to set a width using `android:width="480dp"` in my card.xml file. But because I use an imageview on the card, and use `img.setResource(R.drawable.img);` to set image on the card stack then resizes the card according to the width of the image, any fix?

[2017-03-28 19:23] ghost commented on #4
I'm able to implement click event unfortunately the click event appears behind the card for me.

[2017-04-04 11:27] ghost commented on #24
Have you tried removing the view using `swipeStack.removeView(position);`?
Where removeView(position) contains the position of the child inside the swipestack.

Or if you want to remove the top view use following code:
`swipeStack.removeView(swipeStack.getTopView());`

And if you want to remove it from the datasource you should use it with `mData.remove(position); mAdapter.notifyDataSetChanged();`

[2017-04-07 06:07] joecizac opened #42 "SwipeStack in recyclerview intercepting list scrolling."
When I am using SwipeStack in a recyclerview it is taking only the swipe action and not able to scroll the list when touching the swipestack.

[2017-04-20 19:33] PratikPagada commented on #12
I Want to load infinite cards swipe, try to reset card list on the empty stack method in but its not proper working some time change list data sequence change and some time list not reset.

[2017-04-25 08:49] sagargoqii opened #43 "stack is not refreshing"
`mAdapter.setData(cardsList);`

`public void setData(List<Card> cards) {
        this.mData = cards;
        notifyDataSetChanged();
    }`

At first my cards list size was 3 then  i removed 1 card from list and set it again to adapter and call notifyDataSetChanged(); but it is not refreshing list.
It should show two cards stack. but still it is showing 3 cards in stack.

[2017-04-25 09:42] sagargoqii commented on #43
got solution
calling below method

`mSwipeStack.resetStack()`

[2017-04-25 09:42] #43 closed, assigned to nobody

[2017-04-25 09:43] sagargoqii commented on #5
try this method

`mSwipeStack.resetStack()`

[2017-04-25 11:49] TheLester commented on #4
Also faced with this issue. I am able to set click listener to child view of topview swipeStack view, but its brokes onTouch - swipe logic

[2017-04-26 01:36] mikechoch commented on #26
When i swipe to right or left 2 cards sometimes a third follows. For example, if i swipe cards 24 and 25, sometimes 26 follows and 27 is showing.

I am willing to send video if necessary

[2017-05-01 22:41] neiljaywarner commented on #42
+1

[2017-05-05 10:31] sudikrt opened #44 "How to perform onClick event on card ?"
If i set onClickListener to the swipeStack then i cannot be able to swipe left or right?

[2017-05-20 07:14] hfahmy commented on #28
Here is how to get the entire card stack or (top view on the stack) centered vertically:

In the `SwipeStack.reorderItems()` method, change `newPositionY` calculation as show below:

[code]

[2017-05-26 09:05] KeyurKba opened #45 "notifyDataSetChanged not working"
This is my code, I want to update view with notifydatasetchanged, but it is not working

` arrDriverOrders.get(position).getOrderMaster().setDriverAccepted(Constant.ORDER_ACCEPT_CODE);
                                mAdapter.notifyDataSetChanged();`

[2017-05-31 05:42] darvid7 opened #46 "java.lang.IllegalArgumentException: pointerIndex out of range"
Hi, sometimes when randomly swiping I get this
[code]
Might be related to https://github.com/chrisbanes/PhotoView/issues/31, was thinking can fix this by adding a try catch to `SwipeHelper.OnTouch()`
Any ideas would be great!

[2017-06-05 15:08] adityagohad commented on #35
just set
`mSwipeStack.setEnabled(false);`

[2017-06-10 05:13] vzaffalon commented on #7
this problem makes the library useless

[2017-06-14 08:41] krisnamargono commented on #30
@aftabsikander hello, do you have any update about this problem?

[2017-06-16 05:31] krisnamargono commented on #7
@flschweiger any update about this?

[2017-06-22 08:22] TheLester commented on #46
Also have this issue

[2017-06-23 03:12] vzaffalon commented on #23
have the same problem here with a list of cards, when i click a button in the first card it usually activates the action of another card that is not the first

[2017-06-28 10:18] CallumCoombes commented on #44
I am having this same issue, was any solution found?

[2017-06-28 10:31] sudikrt commented on #44
Yeah we have implemented the card click event  @CallumCoombes  use this 'com.geeksynergy:swipestack:1.0.1'
and it also contains bug it will cause crash when multi touch happens
This bug also fixed..

[2017-06-28 10:35] sudikrt commented on #44
we will update it to github soon @CallumCoombes

[2017-06-28 10:46] CallumCoombes commented on #44
Oh awesome, bit confused as to how I add this to my project?

[2017-06-28 11:18] sudikrt commented on #44
@CallumCoombes  Same thing what he has mentioned in his documentation only thing is
in app: Build.gradle add
 compile 'com.geeksynergy:swipestack:1.0.1'
instead of the library that he mentioned mentioned

[2017-06-28 11:21] CallumCoombes commented on #44
Sadly I get 'failed to resolve: com.geeksynergy:swipestack:1.0.1'

[2017-06-28 11:23] sudikrt commented on #44
wait
You need to add
repositories {
        maven { url "http://dl.bintray.com/geeksynergy/GeekSupport" }
}
to your Project build.gradle

[2017-06-28 11:32] CallumCoombes commented on #44
Ah of course!
Awesome, done that and I now have the onClick method, thanks so much!

[2017-08-16 18:08] rAndroidTest opened #48 "Dynamically Adding MapView/SupportedMapFragment to CardView?"
How can I dynamically add mapview/supportedmapfragment to the CardView under getView in the Adapter?  I attempted to add the following code:

   @Override
        public View getView(final int position, View convertView, ViewGroup parent) {
            if (convertView == null) {
                convertView = getLayoutInflater().inflate(R.layout.card, parent, false);
            }

            Text

[2017-08-22 01:45] manishkungwani opened #49 "Navigate to an swiped card"
Hi,
We have a use case where when we swipe left, we need to show the previous card. Is there a way to do this in the library.
Can you please help.
Thank you

[2017-08-30 06:44] voghDev opened #50 "getLayoutInflater() does not exist"
Hi,
thanks for the awesome lib. I've tried to reproduce your code, and just noticed that `getLayoutInflater()` is not a method from `BaseAdapter` nor `CardStackAdapter`.

Instead, I had to obtain the `LayoutInflater` from the `Context`, so another parameter of type `Context` is needed in the constructor.
If you want, I can provide you a pull request updating the documentation, and also the code if

[2017-10-11 10:38] patelkalpesh036 opened #51 "How can arrange this in right side?"
![device-2017-10-11-160701](https://user-images.githubusercontent.com/32704003/31435756-56fc1b10-ae9e-11e7-888a-f4b917a33937.png)

[2017-10-26 15:59] Sanjot01 commented on #50
Have found the exact problem that you are writing about but I've not been able to solve it. I would, therefore, appreciate if you could describe your solution a bit more. Thanks in before!

[2017-10-26 16:14] Sanjot01 opened #52 "getLayoutInflater() does not exist"

[2017-10-27 13:29] voghDev commented on #50
Yes sorry, my explaination was lacking details. I tried to copy this code you provide in the README file

    @Override
    public View getView(final int position, View convertView, ViewGroup parent) {
        convertView = getLayoutInflater().inflate(R.layout.card, parent, false);
        TextView textViewCard = (TextView) convertView.findViewById(R.id.textViewCard);
        textViewCard.setText(

[2017-11-02 11:09] NikhilBorad commented on #52
use LayoutInflater.from(mContext) in place of getLayoutInflater().

[2017-11-28 05:35] dmllr commented on #46
This happened when user touches the screen using more than one fingers and first touch was outside of `swipestack` view.

In
[code]

should be used correct touch index (that inside of view), instead of 0.

Or simply disable swiping when touches are outside of view.

[2017-12-02 10:08] Lokeshroot commented on #42
+1

[2017-12-19 05:52] JaydipRadadiya opened #54 "How to set overlay image during left or right swipe like "DISLINE" or "LIKE" ?"
Hello,
Is there any way to set overlay image on swipe action like on left swipe to set "DISLIKE" overlay image and also on right for "LIKE" ?

Thanks.

[2018-01-04 11:34] JaydipRadadiya opened #55 "Cards sequence is not getting properly."
Hello,

I am not getting a card sequence according to list data array. I am fetching a issue. Is there any solution for that?

Thanks!

[2018-01-07 19:26] LamraniOthmane opened #56 "Setting dynamic height"
Hello guys i would like to know if it is possible to set swipeStack height to WRAP_CONTENT.

[2018-01-12 14:33] D330 commented on #39
you need to get itemCount? No, SwipeStack not decrease it, he just work with view. You can get real itemCount with `stackAdapter.getItemCount() - swipeStack.getCurrentPosition`

[2018-01-12 14:39] D330 opened #57 "Undo"
Hi. I create undoView method in library

[code]

But i can't solve one problem: If I make undo button under `SwipeStack` (by Z) with `FrameLayout` - click on him works but `undoView()` not works. If i make undo button below/top/left/right of `SwipeStack` with `LinearLayout` -` undoView()` works fine. Why?

[2018-01-12 14:47] D330 commented on #24
`swipeTopViewToLeft()` or `swipeTopViewToRight()`

[2018-01-12 14:50] D330 commented on #14
@abhishekBansal, see [my issue](https://github.com/flschweiger/SwipeStack/issues/57) - copy paste code into SwipeStack

[2018-01-12 14:51] D330 commented on #57
Btw, i can create addFromRight + addFromLeft and make pull request? :3

[2018-01-12 14:55] D330 commented on #13
Return last swiped view? Use code in [my issue](https://github.com/flschweiger/SwipeStack/issues/57)

[2018-01-17 00:11] kyleruscigno opened #58 "Question about swipestack child views"
I've been using this library to help me learn some stuff about android but I'm a bit confused to a couple of things. Why won't the child views of swipestack render unless childview.layout() is called in reorderItems? Also why must we call measure() explicitly in addNextView as well as specify that the width is getWidth - padding. Wouldn't using Match_parent in xml mean the same thing? Does addView

[2018-01-17 01:07] kyleruscigno commented on #58
I'm also getting very strange behavior when I eliminate the childView.animate() call inside of reorderItems() - it makes it so that whenever you move the view it vibrates or jitters and eventually spins off the screen.

[2018-02-02 09:24] TriggerHappyHr opened #60 "Adapter not triggered on my phone"
Everything works fine on my emulator (API 19, API 22, API 24) but when I install the application on my phone (API 24), adapter is never triggered...

Is this a bug or is there a simple solution to this?

[2018-02-15 11:33] #60 closed, assigned to nobody

[2018-02-15 11:40] TriggerHappyHr opened #61 "Adapter not called for the second time"
Adapter fills out nicely when I run it for the first time but when I run it for the second time without reloading the activity the adapter doesn't show up at all...

Any thoughts?

[2018-04-03 13:11] RanyAlbegWein opened #62 "Vertical scrollbars disables swipe"
The stack is not responsive to swipes when and item of the stack has a `TextView` with `scrollbars="vertical" `attribute. Moreover, `SwipeHelper`'s `requestDisallowInterceptTouchEvent` makes it difficult to customize a behavior.

[2018-05-07 06:27] Durgaprasad1541996 opened #63 "Not working with object list"
JsonObjectRequest jsonObjectRequest = new JsonObjectRequest
                (Request.Method.GET, url, null, new Response.Listener<JSONObject>() {

                    @Override
                    public void onResponse(JSONObject response) {
                        try {

                            JSONArray jsonArray = response.getJSONArray("articles");
                            Log.e("e1",""

[2018-05-25 22:17] #62 closed, assigned to nobody

[2018-05-25 22:17] RanyAlbegWein commented on #62
Developer is not responsive.

[2018-06-19 09:37] SimonPeter1909 opened #64 "SwipeStack is not Visible"
I would like to implement Swipe Stack View in my layout I have done all the things perfect yet I cant the SwipeStackView is not visible in my layout... Should the StackVIew be single in the Activity?

Stack View inside layout and i have set `android:clipChildren="false"` in parent View.

[code]

This is how i have installed in my java file

[code]

and this is how i set the adapter

[code]

My pro

[2018-06-19 11:19] joshvarun opened #65 "Load Previous Card"
Hi,

Is there anyway I can load the previous card back on the screen?

[2018-06-19 11:20] joshvarun commented on #64
Can you post your activity XML?

[2018-06-19 11:23] SimonPeter1909 commented on #64
@joshvarun yeah sure...

[code]

[2018-06-19 17:45] freeweed commented on #64
I have this problem too, in my case some row is visible but some row is not.
Have any Idea?

[2018-06-20 05:06] SimonPeter1909 commented on #64
@freeweed try adjusting the height... btw still my cards are invisible... :( ... someone, please help me...

[2018-06-20 06:15] SimonPeter1909 commented on #64
@freeweed I solved my problem... I have used com.github.wenchaojiang:AndroidSwipeableCardStack:0.1.5 library... and it's working awesome... I think you can't add images to the card... try this...

[2018-06-21 12:28] snehalgongle opened #66 "How to use recycle view for every swipe card"
@Frederik Schweiger
you have made really nice swipe cards i'm currently using this in my one of the projects
So using these cards i'm creating recycle view on every card but the data is been repeating for every card

So my question is how to use recycle view with these swipe cards with non repeating values on every card...

[2018-06-25 18:54] freeweed commented on #64
@SimonPeter1909 thx. I solved mine by remove invisible data. lol

[2018-06-28 09:03] karan26796 commented on #65
Ya man, been struggling with the same.
You'd have to add the previous item into the array list again at the top position and then update the adapter.
Haven't found the right logic to do that yet though.

[2018-07-25 05:14] MahmoudMabrok commented on #52
in constructor  get Context and use   LayoutInflater.from(mContext).inflate()

[2018-07-25 11:19] MahmoudMabrok commented on #61
you can use swpipCard.restStack() to refill all Cards again.

[2018-08-07 14:47] RevathyRaj commented on #29
I have the same issue. This is happening for me in fragment

[2018-10-12 20:02] tundisi commented on #65
Hello @joshvarun @karan26796 in the adapter add an array with the deleted objects and create two methods that are the following:

[code]

I realized that the adapter does not remove the element from the list, so when I swipe the intercept and call the next method that is in the adapter.

[code]

finally when I click on the back button I call the back method of the adapter and update everything wit

[2018-11-10 07:34] nixondevph opened #67 "SwipeStack not visible when converted to fragment"
`public View onCreateView(@NonNull LayoutInflater inflater, @Nullable ViewGroup container, @Nullable Bundle savedInstanceState) {
        //return super.onCreateView(inflater, container, savedInstanceState);
        return inflater.inflate(R.layout.activity_cards, null);
    }`

[2018-11-10 08:13] #67 closed, assigned to nobody

[2018-11-12 09:42] nanoakhi commented on #64
Hi Simon..How you resolved the issues
Same problem i am facing data loaded showing me in console but invisible on card.What should i do using same code as urs

[2018-11-12 12:17] SimonPeter1909 commented on #64
@nanoakhi, I have used com.github.wenchaojiang:AndroidSwipeableCardStack:0.1.5 library... It works fine but it doesn't supports the images... Give it a try...

[2018-11-12 14:02] nanoakhi commented on #64
@simon: The lib has same problem .Still data invisible  while loading from mysql database .Do u have running code in vh Multiple data is loading to stack .

[2018-11-12 14:05] nanoakhi commented on #64
SimonPeter1909 : While using the same code as we were using its showing some miss behavior such as when i minimize the activity and again open it its showing the results...Fail to track why this happening too.Do u have any idea.

My main activity code is:

 public void JSON_PARSE_DATA_AFTER_WEBCALL(JSONArray array) {

        for (int i = 0; i < array.length(); i++) {

            GetDataAdapter G

[2018-12-20 14:44] balavishnu commented on #65
@tundisi Thank you. Your solution worked. Only problem is that  the "back" Animation is not smooth, is there any way to make it smooth?

[2019-02-09 23:35] panekzogen opened #68 "ViewPager inside adapter"
Hello.

I don't have a strong knowledge about view processing in android but maybe this helps someone because library seems unsupported.
If someone want to create complex layout, in my case it was `ViewPager` inside adapter of swipe stack,
note that the layout processing doing in wrong order:
At `SwipeStack.addNewView()` which called on `onLayout()` for children nodes performing following:
[code]

[2019-03-01 21:15] panekzogen commented on #68
Second issue which i found:
`onMeasure` override is not correct without measuring children

For measure all components `onMeasure` method should be overridden as follow

[code]

[2019-03-28 03:36] ahnafnafee commented on #30
You have to set `app:stack_rotation="0"` within the `<link.fls.swipestack.SwipeStack>` layout. When the stack rotation is set to 0, the difference in angles between the top card and card beneath is becomes 0 so they end up stacked exactly on top of each other. Also set  `app:stack_spacing` to a appropriate value by experimenting on the emulator. I set mine to `app:stack_spacing="24dp"`.

[2019-07-04 08:41] saini95 commented on #30
Did anyone found the solution for this as I am having the same issue.

[2019-07-10 06:40] Johnett commented on #68
Thank you for taking the time to post these fixes. It'll definitely help someone.